In [5]:
import pandas as pd
import numpy as np
import json

In [6]:
df = pd.read_csv("static/test.csv")

In [7]:
df.head()

,Data.Matrix,0con_1,0con_2,0con_3,7trt_1,7trt_2,7trt_3,15trt_1,15trt_2,15trt_3
0,ENSMUSG00000000001,3154,3428,2958,2414,2463,2388,2960,2817,3274
1,ENSMUSG00000000003,0,0,0,0,0,0,0,0,0
2,ENSMUSG00000000028,439,561,387,189,265,216,243,286,359
3,ENSMUSG00000000031,19,19,22,6,28,17,36,28,53
4,ENSMUSG00000000037,57,70,66,31,44,27,62,49,60

In [11]:
df.to_json('make.json',orient="records")

In [15]:
df2 = pd.read_json('make.json', orient="records")
df2.head()

,Data.Matrix,0con_1,0con_2,0con_3,7trt_1,7trt_2,7trt_3,15trt_1,15trt_2,15trt_3
0,ENSMUSG00000000001,3154,3428,2958,2414,2463,2388,2960,2817,3274
1,ENSMUSG00000000003,0,0,0,0,0,0,0,0,0
2,ENSMUSG00000000028,439,561,387,189,265,216,243,286,359
3,ENSMUSG00000000031,19,19,22,6,28,17,36,28,53
4,ENSMUSG00000000037,57,70,66,31,44,27,62,49,60

In [18]:
list(df.columns.values)

['Data.Matrix',
 '0con_1',
 '0con_2',
 '0con_3',
 '7trt_1',
 '7trt_2',
 '7trt_3',
 '15trt_1',
 '15trt_2',
 '15trt_3']